/* redberry logo*/
.redberry_logo {
    position: absolute;
    width: 236px;
    height: 38px;
    left: 70px;
    top: 25px;


}

.redberry_mid_logo {/* LOGO-40 1 */

    position: absolute;
    width: 299px;
    height: 299px;
    left: 1076px;
    top: 473px;


    mix-blend-mode: multiply;
}

.redberry_background {/* shutterstock_2189773743 1 */

    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background: url("src/resources/redberry_background.png");
}

.redberry_line {/* Line 12 */

    position: absolute;
    height: 1px;
    left: 70px;
    right: 70px;
    top: 89px;

    /* off black */
    border: 1px solid #1A1A1A;
}


.redberry_resume_button {
    /* ᲩᲐᲜᲐᲬᲔᲠᲘᲡ ᲓᲐᲛᲐᲢᲔᲑᲐ */
    font-family: 'HelveticaNeue';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;

    /* ღილაკი */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 18px calc(464px/4 + 12px);
    gap: 20px;

    position: absolute;
    width: 464px;
    height: 60px;
    left: calc(50% - 464px/2);
    top: 513px;
    /* off black */

    background-color: #1A1A1A;
    border-radius: 8px;
}