.resume {
    position: absolute;
    width: 822px;
    right: 0px;
    top: 0px;
    bottom: 0px;

    background: #FFFFFF;
}

.resume_fname {
    /* ᲐᲜᲖᲝᲠ */


    position: relative;
    width: 123px;
    height: 42px;
    left: 80px;
    top: 68px;

    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 42px;
    /* identical to box height */


    color: #F93B1D;
}
.resume_lname {
    /* ᲛᲣᲛᲚᲐᲫᲔ */


    position: relative;
    width: 145px;
    height: 42px;
    left: 223px;
    top: 0px;

    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 42px;
    /* identical to box height */


    color: #F93B1D;
}
.resume_at {
    /* Vector */
    position: relative;
    height: 16px;
    width:  16px;
    bottom: 5px;
    left: 82px;
    visibility: hidden;
}
.resume_email {
    /* anzorr666@redberry.ge */


    position: relative;
    width: 179px;
    height: 21px;
    left: 111px;
    bottom: 47px;

    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;

    /* off black */

    color: #1A1A1A;
}
.resume_phone {
    /* Vector */


    position: relative;
    Width: 16.64px;
    Height: 16.64px;
    bottom: 53px;
    Left: 82px;
    visibility: hidden;
}
.resume_number {
    /* +995 597 63 45 16 */


    position: relative;
    width: 151px;
    height: 21px;
    left: 111px;
    bottom: 93px;

    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;

    /* off black */
}
.resume_about_me {
    /* ᲩᲔᲛ ᲨᲔᲡᲐᲮᲔᲑ */


    position: relative;
    width: 118px;
    height: 22px;
    left: 80px;
    bottom: 77px;

    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */

    color: #F93B1D;
    visibility: hidden;
}
.resume_about_me_text {
    /* ძალიან მიყვარს დიზაინის კეთება. დილით ადრე რომ ავდგები გამამხნევებელი ვარჯიშების მაგიერ დიზაინს ვაკეთებ. */


    position: relative;
    width: 432px;
    height: 72px;
    left: 80px;
    bottom: 80px;

    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    /* or 138% */

    text-transform: lowercase;

    color: #000000;
}
.resume_line {
    /* Line 15 */


    position: relative;
    Width:
    662px;
    bottom:80px;
    Left:
    0px;

    border: 1px solid #C8C8C8;
}
.resume_experience {
    /* ᲒᲐᲛᲝᲪᲓᲘᲚᲔᲑᲐ */


    position: relative;
    width: 143px;
    height: 22px;
    left: 80px;
    bottom: 65px;

    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    color: #F93B1D;
    visibility: hidden;
}
.resume_experience_position {
    /* React Native Developer, */


    position: relative;
    width: 178px;
    height: 20px;
    left: 80px;
    bottom: 70px;

    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */


    /* off black */

    color: #1A1A1A;
}
.resume_experience_date {
    /* 2020-09-23 - 2020-09-23 */


    position: relative;
    width: 183px;
    height: 19px;
    left: 190px;
    bottom: 155px;

    font-family: 'Helvetica Neue';
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #919191;
}
.resume_experience_start_date {
    /* 2020-09-23 - 2020-09-23 */
    position: relative;
    width: 183px;
    height: 19px;
    left: 80px;
    bottom: 120px;

    font-family: 'Helvetica Neue';
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #919191;
}
.resume_experience_description {
    /* Experienced Javascript Native Developer with 5 years in the industry. proficient withreact. Used problem-solving aptitude to encahge application performance by 14%.created data visualisation tools and integrated designs. */


    position: relative;
    width: 662px;
    height: 66px;
    left: 80px;
    bottom: 135px;

    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    /* or 138% */

    text-transform: capitalize;

    color: #000000;
}
.resume_logo {
    /* LOGO-12 1 */


    position: relative;
    width: 42px;
    height: 42px;
    left: 78px;
    top: 250px;


}
.resume_line_education {
    /* Line 16 */


    position: relative;
    Width: 662px;
    bottom: 100px;
    Left: 5px;
    border: 1px solid #C8C8C8;
}
.resume_education {
    /* ᲒᲐᲜᲐᲗᲚᲔᲑᲐ */


    position: relative;
    width: 115px;
    height: 22px;
    left: 80px;
    bottom: 30px;

    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */


    color: #F93B1D;
    visibility: hidden;
}
.resume_education_institute {
    /* წმ. ანდრიას საპატრიარქოს სასწავლებელი, */


    position: relative;
    width: 349px;
    height: 20px;
    left: 80px;
    bottom: 35px;

    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    /* off black */

    color: #1A1A1A;
}
.resume_education_date {
    /* 2020-09-23 */


    position: relative;
    width: 84px;
    height: 19px;
    left: 80px;
    bottom: 20px;

    font-family: 'Helvetica Neue';
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #919191;
}
.resume_education_description {
    /* ვსწავლობდი გულმოდგინეთ. მყავდა ფრიადები. რაც შემეძლო — ვქენი. კომპიუტერები მიყვარდა. ვიჯექი ჩემთვის, ვაკაკუნებდი ამ კლავიშებზე. მეუნებოდნენ — დაჯექი, წაიკითხე რამე, რას აკაკუნებ, დრო მოვა და ჩაგიკაკუნებსო. აჰა, მოვიდა დრო და ვერა ვარ დეველოპერი? */


    position: relative;
    width: 662px;
    height: 88px;
    left: 80px;
    bottom: 10px;

    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    /* or 138% */

    text-transform: lowercase;

    color: #000000;
}
.resume_education_degree {
    /* სტუდენტი */


    position: relative;
    width: 81px;
    height: 20px;
    left: 445px;
    bottom: 210px;

    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */


    /* off black */

    color: #1A1A1A;
}
.resume_employer {
    /* Microsoft */


    position: relative;
    width: 70px;
    height: 20px;
    left: 265px;
    bottom: 105px;

    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */


    /* off black */

    color: #1A1A1A;
}