.education_title {
    /* ᲒᲐᲜᲐᲗᲚᲔᲑᲐ */


    position: relative;
    width: 153px;
    height: 29px;
    left: 149px;
    top: 45px;

    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;

    /* off black */

    color: #1A1A1A;
}
.education_line {
    /* Line 13 */


    position: relative;
    width: 798px;
    height: 0px;
    right: 412px;
    top: 40px;

    /* off black */

    border: 1px solid #1A1A1A;
}
.education_ellipse {
    /* Ellipse 1 */


    position: absolute;
    width: 40px;
    height: 40px;
    left: 48px;
    top: 45px;


}
.education_vector {
    /* Vector */


    position: absolute;
    width: 9.21px;
    height: 16px;
    left: 62px;
    top: 57px;

    /* შავი/500 */
}
.education_pages {
    /* 3/3 */


    position: relative;
    width: 29px;
    height: 24px;
    left: 920px;
    bottom: 7px;

    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height */

    text-align: right;

    /* off black */

    color: #1A1A1A;
}
.education_institute_out {
    /* Input Fields */


    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;
    gap: 8px;

    position: relative;
    width: 846px;
    height: 125px;
    left: calc(50% - 846px/2 - 411px);
    top: 10px;
}
.education_institute {
    /* Label */


    width: 798px;
    height: 21px;

    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    /* identical to box height, or 131% */

    display: flex;
    align-items: center;

    color: #000000;


    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
.education_institute_input {
    /* Frame 133 */


    box-sizing: border-box;

    width: 798px;
    height: 48px;

    background: #FFFFFF;
    border: 1px solid #BCBCBC;
    border-radius: 4px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}
.education_institute_input_hint {
    /* Hint */


    width: 798px;
    height: 21px;

    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height, or 150% */

    display: flex;
    align-items: center;

    /* შავი/500 */

    color: #2E2E2E;


    /* Inside auto layout */

    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
}
.education_degree_out {
    /* Input Fields */


    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;
    gap: 8px;

    position: relative;
    width: 419px;
    height: 125px;
    left: 125px;
    top: 65px;
}
.education_degree {
    /* Label */


    width: 371px;
    height: 21px;

    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    /* identical to box height, or 131% */

    display: flex;
    align-items: center;

    color: #000000;


    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
.education_degree_input {
    /* Frame 133 */
    box-sizing: border-box;

    width: 371px;
    height: 48px;

    background: #FFFFFF;
    border: 1px solid #BCBCBC;
    border-radius: 4px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}
.education_end_date_out {
    /* Input Fields */


    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;
    gap: 8px;

    position: relative;
    width: 419px;
    height: 93px;
    left: 551px;
    bottom: 76px;
}
.education_end_date {
    /* Label */
    width: 371px;
    height: 21px;

    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    /* identical to box height, or 131% */

    display: flex;
    align-items: center;

    color: #000000;


    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
.education_end_date_input {
    /* Frame 133 */


    box-sizing: border-box;

    width: 371px;
    height: 48px;

    background: #FFFFFF;
    border: 1px solid #BCBCBC;
    border-radius: 4px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}
.education_description_out {
    /* Input Fields */


    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;
    gap: 8px;

    position: relative;
    width: 846px;
    height: 224px;
    left: calc(50% - 846px/2 - 411px);
    bottom: 72px;
}
.education_description {
    /* Label */


    width: 798px;
    height: 21px;

    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    /* identical to box height, or 131% */

    display: flex;
    align-items: center;

    color: #000000;


    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
.education_description_input {
    /* Frame 133 */

    box-sizing: border-box;

    width: 798px;
    height: 179px;

    background: #FFFFFF;
    border: 1px solid #BCBCBC;
    border-radius: 4px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 1;
}
.education_bottom_line {
    /* Line 18 */


    position: relative;
    width: 798px;
    height: 0px;
    right: 408px;
    bottom: 35px;

    border: 1px solid #C1C1C1;
}
.education_add_institute {
    /* ღილაკი/Variant4 */
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 18px 60px;
    gap: 20px;

    position: relative;
    width: 289px;
    height: 48px;
    left: 150px;
    top: 5px;

    background: #62A1EB;
    border-radius: 4px;
}
.education_add_institute_text {
    /* შემდეგი */


    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */


    color: #FFFFFF;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}
.education_button_back {
    /* ღილაკი */


    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 18px 60px;
    gap: 20px;

    position: relative;
    width: 113px;
    height: 48px;
    left: 149px;
    top: 172px;

    background: #6B40E3;
    border-radius: 4px;
}
.education_button_back_text {
    /* ᲩᲐᲜᲐᲬᲔᲠᲘᲡ ᲓᲐᲛᲐᲢᲔᲑᲐ */


    width: 43px;
    height: 20px;

    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */

    letter-spacing: 0.08em;

    color: #FFFFFF;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}
.education_button_end {/* ღილაკი */


    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 18px 60px;
    gap: 20px;

    position: relative;
    width: 151px;
    height: 48px;
    left: 832px;
    top: 134px;

    background: #6B40E3;
    border-radius: 4px;
}
.education_button_end_text {
    /* ᲩᲐᲜᲐᲬᲔᲠᲘᲡ ᲓᲐᲛᲐᲢᲔᲑᲐ */
    width: 112px;
    height: 20px;

    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */

    letter-spacing: 0.08em;

    color: #FFFFFF;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.page {
    position: absolute;
    width: 1920px;
    height: 1080px;

    background: #F9F9F9;
}


.input_fields {
    background: #F9F9F9;
}

.education_degree_option_txt {
    /* საშუალო სკოლის დიპლომი */
    width: 218px;
    height: 21px;

    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    /* identical to box height, or 131% */

    display: flex;
    align-items: center;

    /* off black */

    color: #1A1A1A;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.education_degree_option_box {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 10px 10px 16px;
    gap: 10px;

    width: 370px;
    height: 41px;

    background: #FFFFFF;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.education_institute_ok {
    position: relative;
    left: 770px;
    top: 95px;
}

.education_institute_bad {
    position: relative;
    left: 770px;
    top: 70px;
}