.experience_title {
    /* ᲒᲐᲛᲝᲪᲓᲘᲚᲔᲑᲐ */


    position: relative;
    width: 190px;
    height: 29px;
    left: 148px;
    top: 29px;

    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;

    /* off black */

    color: #1A1A1A;
}
.experience_line {
    /* Line 13 */


    position: relative;
    width: 798px;
    height: 0px;
    right: 412px;
    top: 20px;

    /* off black */

    border: 1px solid #1A1A1A;

}

.experience_ellipse {
    /* Ellipse 1 */


    position: absolute;
    width: 40px;
    height: 40px;
    left: 48px;
    top: 45px;
}
.experience_vector {
    /* Vector */


    position: absolute;
    width: 9.21px;
    height: 16px;
    left: 62px;
    top: 57px;

    /* შავი/500 */
}
.experience_pages {
    /* 2/3 */


    position: relative;
    width: 29px;
    height: 24px;
    left: 917px;
    bottom: 38px;

    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height */

    text-align: right;

    /* off black */

    color: #1A1A1A;
}
.input_fields_out {
    /* Input Fields */


    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;
    gap: 8px;

    position: relative;
    width: 846px;
    height: 125px;
    left: calc(50% - 846px/2 - 411px);
    bottom: 35px;
}
.experience_position {
    /* Label */


    width: 798px;
    height: 21px;

    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    /* identical to box height, or 131% */

    display: flex;
    align-items: center;

    color: #000000;
}
.experience_input_position {
    /* Frame 133 */


    box-sizing: border-box;

    width: 798px;
    height: 48px;

    background: #FFFFFF;
    border: 1px solid #BCBCBC;
    border-radius: 4px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    /* Input */



    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    /* identical to box height, or 131% */

    display: flex;
    align-items: center;

    color: rgba(0, 0, 0, 0.6);
}
.experience_position_hint {
    /* Hint */


    width: 798px;
    height: 21px;

    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height, or 150% */

    display: flex;
    align-items: center;

    /* შავი/500 */

    color: #2E2E2E;


    /* Inside auto layout */

    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
}
.experience_employer_out {
    /* Input Fields */


    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;
    gap: 8px;

    position: relative;
    width: 846px;
    height: 125px;
    left: calc(50% - 846px/2 - 411px);
    bottom: 25px;
}
.experience_employer {
    /* Label */


    width: 798px;
    height: 21px;

    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    /* identical to box height, or 131% */

    display: flex;
    align-items: center;

    color: #000000;


    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
.experience_input_employer {
    /* Frame 133 */


    box-sizing: border-box;

    width: 798px;
    height: 48px;

    background: #FFFFFF;
    border: 1px solid #BCBCBC;
    border-radius: 4px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    /* Input */



    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    /* identical to box height, or 131% */

    display: flex;
    align-items: center;

    color: rgba(0, 0, 0, 0.6);
}
.experience_input_employer_hint {
    /* Hint */


    width: 798px;
    height: 21px;

    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height, or 150% */

    display: flex;
    align-items: center;

    /* შავი/500 */

    color: #2E2E2E;


    /* Inside auto layout */

    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
}
.experience_start_date_out {
    /* Input Fields */


    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;
    gap: 8px;

    position: relative;
    width: 419px;
    height: 125px;
    left: 124px;
    top: 36px;
}
.experience_start_date {
    /* Label */


    width: 371px;
    height: 21px;

    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    /* identical to box height, or 131% */

    display: flex;
    align-items: center;

    color: #000000;


    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
.experience_start_date_input {
    /* Frame 133 */


    box-sizing: border-box;

    width: 371px;
    height: 48px;

    background: #FFFFFF;
    border: 1px solid #BCBCBC;
    border-radius: 4px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    /* Input */




    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    /* identical to box height, or 131% */

    display: flex;
    align-items: center;

    color: rgba(0, 0, 0, 0.6);
}
.experience_end_date_out {
    /* Input Fields */


    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;
    gap: 8px;

    position: relative;
    width: 419px;
    height: 93px;
    left: calc(50% - 419px/2 - 197.5px);
    bottom: 106px;
}
.experience_end_date {
    /* Label */


    width: 371px;
    height: 21px;

    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    /* identical to box height, or 131% */

    display: flex;
    align-items: center;

    color: #000000;


    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
.experience_input_end_date {
    /* Frame 133 */


    box-sizing: border-box;

    width: 371px;
    height: 48px;

    background: #FFFFFF;
    border: 1px solid #BCBCBC;
    border-radius: 4px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}
.experience_description_out {
    /* Input Fields */
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;
    gap: 8px;
    position: relative;
    width: 846px;
    height: 168px;
    left: 120px;
    bottom: 100px;
}
.experience_description {
    /* Label */


    width: 798px;
    height: 21px;

    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    /* identical to box height, or 131% */

    display: flex;
    align-items: center;

    color: #000000;


    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
.experience_input_description {
    /* Frame 133 */


    box-sizing: border-box;

    width: 798px;
    height: 123px;

    background: #FFFFFF;
    border: 1px solid #BCBCBC;
    border-radius: 4px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 1;
    /* Input */



    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    /* identical to box height, or 131% */


    color: rgba(0, 0, 0, 0.6);
}
.experience_line_2 {
    /* Line 19 */


    position: relative;
    width: 798px;
    height: 0px;
    right: 414px;
    bottom: 58px;

    border: 1px solid #C1C1C1;
}
.experience_button_more {



        /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 18px 60px;
    gap: 20px;

    position: relative;
    width: 289px;
    height: 48px;
    left: 143px;
    bottom: 11px;

    background: #62A1EB;
    border-radius: 4px;
}
.experience_button_more_text {
    /* შემდეგი */




    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */


    color: #FFFFFF;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}
.experience_button_back {
    /* ღილაკი */


    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 18px 60px;
    gap: 20px;

    position: relative;
    width: 113px;
    height: 48px;
    left: 143px;
    top: 99px;

    background: #6B40E3;
    border-radius: 4px;
}
.experience_button_back_text {
    /* ᲩᲐᲜᲐᲬᲔᲠᲘᲡ ᲓᲐᲛᲐᲢᲔᲑᲐ */


    width: 43px;
    height: 20px;

    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */

    letter-spacing: 0.08em;

    color: #FFFFFF;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.experience_head {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.experience_button_next {
    /* ᲩᲐᲜᲐᲬᲔᲠᲘᲡ ᲓᲐᲛᲐᲢᲔᲑᲐ */




        /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 18px 60px;
    gap: 20px;

    position: relative;
    width: 151px;
    height: 48px;
    left: 830px;
    top: 60px;

    background: #6B40E3;
    border-radius: 4px;

}
.experience_button_next_text {
    /* ᲩᲐᲜᲐᲬᲔᲠᲘᲡ ᲓᲐᲛᲐᲢᲔᲑᲐ */


    width: 81px;
    height: 20px;

    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */

    letter-spacing: 0.08em;

    color: #FFFFFF;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.page {
    position: relative;
    width: 1920px;
    height: 1080px;

    background: #F9F9F9;
}
.resume_line_experience {
    /* Line 15 */


    position: absolute;
    width: 662px;
    height: 0px;
    right: 80px;
    top: 341px;

    border: 1px solid #C8C8C8;
}