@font-face {
    font-family: "HelveticaNeue";
    src: url("/src/font/HelveticaNeue-01.ttf") format("truetype");
    font-style: normal;
}

.redberry_vector {
    position: absolute;
    width: 9.21px;
    height: 16px;
    left: 62px;
    top: 57px;
}
.page {
    position: absolute;
    width: 1920px;
    height: 1080px;

    background: #F9F9F9;
}

.private_info_ellipse {
    /* Ellipse 1 */


    position: absolute;
    width: 40px;
    height: 40px;
    left: 48px;
    top: 45px;



}

.private_info_line {
    /* Line 13 */
    position: absolute;
    width: 798px;
    height: 0px;
    left: 150px;
    top: 88px;
    /* off black */
    border: 1px solid #1A1A1A;
}
.private_info_text {
    /* ᲞᲘᲠᲐᲓᲘ ᲘᲜᲤᲝ */


    position: absolute;
    width: 179px;
    height: 29px;
    left: 149px;
    top: 47px;

    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;

    /* off black */

    color: #1A1A1A;

}
.private_pages_1 {
    position: absolute;
    width: 29px;
    height: 24px;
    left: 920px;
    top: 49px;

    font-family: HelveticaNeue;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height */

    text-align: right;

    /* off black */

    color: #1A1A1A;
}
.info_name_input_classname {
    /* Input Fields */


    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;
    gap: 8px;

    position: absolute;
    width: 419px;
    height: 122px;
    left: calc(50% - 419px/2 - 624.5px);
    top: 157px;


}

.info_name_field {
    /* Frame 133 */


    box-sizing: border-box;

    width: 371px;
    height: 48px;

    background: #FFFFFF;
    border: 1px solid #BCBCBC;
    border-radius: 4px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    /* Input */









    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    /* identical to box height, or 131% */

    display: flex;
    align-items: center;

    color: rgba(0, 0, 0, 0.6);

}
.name_field_naming {
    /* Label */


    width: 371px;
    height: 21px;

    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    /* identical to box height, or 131% */

    display: flex;
    align-items: center;

    color: #000000;


    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
.info_name_hint {
    /* Hint */


    width: 371px;
    height: 21px;

    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height, or 150% */

    display: flex;
    align-items: center;

    /* შავი/500 */

    color: #2E2E2E;


    /* Inside auto layout */

    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
}
.info_lname_input_clasname {
    /* Input Fields */


    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;
    gap: 8px;

    position: absolute;
    width: 419px;
    height: 122px;
    left: calc(50% - 419px/2 - 197.5px);
    top: 157px;

}
.private_photo {
    /* პირადი ფოტოს ატვირთვა */


    position: absolute;
    width: 232px;
    height: 22px;
    left: 150px;
    top: 325px;

    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */


    /* off black */

    color: #1A1A1A;
}
.private_upload_photo {
    /* Frame 151 */


    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 10px 12px;
    gap: 10px;

    position: absolute;
    width: 107px;
    height: 27px;
    left: 401px;
    top: 325px;

    background: #0E80BF;
    border-radius: 4px;}
.private_photo_button_text {
    /* ატვირთვა */


    width: 69px;
    height: 17px;

    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    color: #FFFFFF;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}
.private_about_myself {
    /* Label */


    width: 798px;
    height: 21px;

    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    /* identical to box height, or 131% */

    display: flex;
    align-items: center;
    color: #000000;


    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
.private_input_about_myself {
    /* Frame 133 */


    box-sizing: border-box;

    width: 798px;
    height: 103px;

    background: #FFFFFF;
    border: 1px solid #BCBCBC;
    border-radius: 4px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 1;
    /* Input */


    /* identical to box height, or 131% */


    color: rgba(0, 0, 0, 0.6);

}
.private_out_about_myself {
    /* Input Fields */


    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;
    gap: 8px;

    position: absolute;
    width: 846px;
    height: 148px;
    left: calc(50% - 846px/2 - 411px);
    top: 393px;

}
.private_email {
    /* Input Fields */
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;
    gap: 8px;

    position: absolute;
    width: 846px;
    height: 122px;
    left: calc(50% - 846px/2 - 411px);
    top: 558px;
}
.private_info_email {
    /* Label */
    width: 798px;
    height: 21px;

    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    /* identical to box height, or 131% */
    display: flex;
    align-items: center;
    color: #000000;
    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    /* Input */



    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    /* identical to box height, or 131% */

    display: flex;
    align-items: center;

    color: rgba(0, 0, 0, 0.6)
}
.private_email_input {
    /* Frame 133 */
    box-sizing: border-box;
    width: 798px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #BCBCBC;
    border-radius: 4px;
    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}
.private_email_hint {
    /* Hint */


    width: 798px;
    height: 21px;

    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height, or 150% */

    display: flex;
    align-items: center;

    /* შავი/500 */

    color: #2E2E2E;


    /* Inside auto layout */

    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
}
.private_out_phone_number {
    /* Input Fields */
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;
    gap: 8px;
    position: absolute;
    width: 846px;
    height: 122px;
    left: calc(50% - 846px/2 - 411px);
    top: 693px;
}
.private_phone_number {
    /* Label */


    width: 798px;
    height: 21px;

    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    /* identical to box height, or 131% */

    display: flex;
    align-items: center;

    color: #000000;


    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
.private_phone_number_input {
    /* Frame 133 */


    box-sizing: border-box;

    width: 798px;
    height: 48px;

    background: #FFFFFF;
    border: 1px solid #BCBCBC;
    border-radius: 4px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    /* Input */




    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    /* identical to box height, or 131% */

    display: flex;
    align-items: center;

    color: rgba(0, 0, 0, 0.6);
}
.private_phone_number_hint {
    /* Hint */


    width: 798px;
    height: 21px;

    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height, or 150% */

    display: flex;
    align-items: center;

    /* შავი/500 */

    color: #2E2E2E;


    /* Inside auto layout */

    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
}
.private_button_next {
    /* ღილაკი */
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 18px 60px;
    gap: 20px;

    position: absolute;
    width: 151px;
    height: 48px;
    right: 972px;
    bottom: 65px;

    background: #6B40E3;
    border-radius: 4px;
}
.private_button_next_text {
    /* ᲩᲐᲜᲐᲬᲔᲠᲘᲡ ᲓᲐᲛᲐᲢᲔᲑᲐ */


    width: 81px;
    height: 20px;

    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    letter-spacing: 0.08em;
    color: #FFFFFF;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.input_fields {
    background: #F9F9F9;
}

.private_info_name_ok {
    position: absolute;
    left: 365px;
    top:  45px;
    visibility: hidden;
}

.private_info_lname_ok {
    position: absolute;
    left: 365px;
    top: 45px;
    visibility: hidden;
}

.private_info_lname_bad {
    position: absolute;
    left: 365px;
    top: 45px;
    visibility: hidden;
}

.private_info_name_bad {
    position: absolute;
    left: 365px;
    top: 45px;
    visibility: hidden;
}

.private_info_email_ok {
    position: absolute;
    left: 790px;
    top: 53px;
    visibility: hidden;
}

.private_info_email_bad {
    position: absolute;
    left: 790px;
    top: 53px;
    visibility: hidden;
}

.private_info_phone_ok {
    position: absolute;
    left: 790px;
    top: 53px;
    visibility: hidden;
}

.private_info_phone_bad {
    position: absolute;
    left: 790px;
    top: 53px;
    visibility: hidden;
}


.private_info_about_ok {
    position: absolute;
    left: 790px;
    top: 90px;
    visibility: hidden;
}

.private_info_about_bad {
    position: absolute;
    left: 790px;
    top: 90px;
    visibility: hidden;
}